langchain 
langchain-core
langchain-community 
langchain-text-splitters

langchain-chroma
chromadb

openai
langchain-openai 
langchain-groq 
langchain-huggingface 

langgraph
langgraph-prebuilt

ragas

ipykernel 
jupyter

pandas 
numpy

python-dotenv
requests